*{ background: url(https://media.leroymerlin.it/media/49615/.jpg?width=650&height=650&format=jpg&quality=80&fit=bounds);
 background-size: cover;
}
.site{
    display: grid;
    grid-template: "header header" "main nav";
    grid-template-columns: 10fr 1fr;
    grid-template-rows: auto;

}
header{
    grid-area: header;
    text-align: center;
    margin-top: -15px;
    font-style: italic;
}
main{
    grid-area: main;
    font-style: initial;
    text-align: center;
    border-right: 100px;
    margin-left: 250px;
}
#Theo{
    width: 690px;
    height: 500px;
}
nav{
    grid-area: nav;
    font-size: larger;
    font-family: sans-serif;
}
#lista{
    margin-right: 100px;
}    

