*{ background: url(https://media.leroymerlin.it/media/49615/.jpg?width=650&height=650&format=jpg&quality=80&fit=bounds);
 background-size: cover;
}
.site{
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: auto;

}
.area-header{
    text-align: center;
    margin-top: -15px;
    font-style: italic;
}
.area-main{
    font-style: initial;
    text-align: center;
}
#Theo{
    width: 690px;
    height: 500px;
}
.area-nav{
    
}
